body{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin:0px;
    padding:0px;
}
main{
    width:30vw;
    height: 80vh;
    text-align: center;
    background-color: orange;
}