:root {
  --black: #302b31;
  --red: #be1022;
  --color_bg: #625a67;
  --border: #b8b6b6;
  --color: #ffffff;
}

.escolheTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#times {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.jogador1 {
  text-align: center;
}

#Alemanha {
  width: 30px;
  height: 30px;
  background-image: url(./img/alemanha.svg);
}
#Argentina {
  width: 30px;
  height: 30px;
  background-image: url(./img/argentina.svg);
}

#Brasil {
  width: 30px;
  height: 30px;
  background-image: url(./img/brasil.svg);
}

#França {
  width: 30px;
  height: 30px;
  background-image: url(./img/franca.svg);
}

#Portugal {
  width: 30px;
  height: 30px;
  background-image: url(./img/portugal.svg);
}

#Reino_Unido {
  width: 30px;
  height: 30px;
  background-image: url(./img/reino_unido.svg);
}

#times > * {
  font-size: 0px;
  width: 50px;
  height: 50px;
  margin: 5px;
}

body {
  width: 100vw;
  height: 100vh;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  background-image: url(../assets/img/campo_de_futebol-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  animation: gradient 25s ease infinite;

  color: var(--color);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button {
  width: 200px;
  background: none;
  color: var(--color);
  border: var(--color) 4px solid;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
}

button:hover {
  filter: drop-shadow(2px 2px 4px rgb(255, 255, 255));
}

/******************************************************/
/*********************** TELA JOGO ***********************/
/******************************************************/

/* adcionado */
div#jogo {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: blockquote;
}

/******************************************************/
/*********************** HEADER AND FOOTER ***********************/
/******************************************************/

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  backdrop-filter: blur(6px);
  z-index: 1;
}

.logo {
  width: 200px;
}

h3 {
  font-size: 0.8rem;
  padding: 20px 50px;
  text-align: center;
  line-height: 1.2rem;
}

@keyframes logoBg {
  0% {
    background-color: var(--red);
  }
  50% {
    background-color: var(--black);
  }

  100% {
    background-color: var(--red);
  }
}

/******************************************************/
/*********************** MAIN ***********************/
/******************************************************/
/* adcionado */
main {
  width: 60vw;
  height: 100%;
}

/*********************** SEÇÃO JOGADOR **********************/

section.container__players {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container__players fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.containerJogador {
  display: flex;
  align-items: center;
  border: none;
  padding: 5px;
  margin-bottom: 20px;
}

.namesPlayersInput {
  width: 150px;
  height: 30px;
  border: none;
  color: var(--color);
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
  margin-left: 10px;
}

.jogadorBlack {
  background-color: var(--black);
}
.jogadorRed {
  background-color: var(--red);
}

.bolaRed {
  background-color: var(--red);
  border: var(--border) 4px solid;
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

.bolaBlack {
  background-color: var(--black);
  border: var(--border) 4px solid;
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

fieldset span {
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 20px;
}

/************************ SEÇÃO TABULEIRO ***********************/

section.container__tableGame {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
div.tabuleiros {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100%;
}

div.cxDiscos {
  position: relative;
  top: 100px;
  width: 150px;
  height: 110px;
  border: 10px solid var(--border);
  border-top: none;
  background-image: linear-gradient(
    to bottom,
    rgb(98, 90, 103, 0),
    rgba(98, 90, 103, 0.8)
  );
}
.cxLeft {
  display: none;
}
.cxRigth {
  display: none;
}

.tableGame {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  height: 245px;
  border: 10px solid var(--color);
  border-top: none;
  background-image: linear-gradient(
    to bottom,
    rgb(98, 90, 103, 0),
    rgba(98, 90, 103, 0.8)
  );
}

.tableGame > * > * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tableGame > *:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to bottom,
    rgb(98, 90, 103, 0),
    rgb(109, 107, 110)
  );
}

.tableGame__jogador {
  max-width: 300px;
  border: none;
  background-color: var(--red);
  color: var(--color);
  margin: 10px 0 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
}

/* .tableGame__reset {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: var(--color);
  border: var(--color) 4px solid;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}

.tableGame__reset:hover {
  background-color: rgb(184, 182, 182, 0.2);
  border: var(--color) 8px solid;
} */

.blocoFilho {
  border-right: 1px solid var(--color);
  border-left: 1px solid var(--color);
  width: 40px;
  height: 40px;
  background: none;
}

.containerTabuleiro {
  display: flex;
  flex-direction: column;
}

.containerTargerts {
  display: flex;
  justify-content: space-around;
}
.bola {
  width: 33px;
  height: 33px;
  border: 2px solid var(--black);
  border-radius: 100%;
}

.containerTargerts > * {
  width: 40px;
  height: 40px;
}

/*********************** SEÇÃO VITÓRIA **********************/

section.container__vitoria {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* svg {
  filter: drop-shadow(1px 1px 5px var(--border));
  width: 200px;
  height: 200px;
} */

g {
  fill: var(--red);
  stroke: var(--border);
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.vencendorDiv {
  -webkit-animation: moeda 4s linear infinite;
  -moz-animation: moeda 4s linear infinite;
  animation: moeda 4s linear infinite;
}

.vencendorDiv img {
  width: 150px;
}
@-moz-keyframes moeda {
  100% {
    -moz-transform: rotateY(360deg);
  }
}
@-webkit-keyframes moeda {
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
@keyframes moeda {
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.vencendorText {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: 100px;
  color: var(--color);
  box-sizing: border-box;
}

span.nomeJogador {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin: 10px;
}

span.textoVencedor {
  width: 100%;
  text-align: center;
}

/* div.btn {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
} */

/* .btnVitoria {
  background: none;
  color: var(--color);
  border: var(--border) 4px solid;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 600;
} */
