:root {
  --black: #302b31;
  --red: #be1022;
  --color_bg: #625a67;
  --border: #b8b6b6;
  --color: #dcd6d7;
}

body {
  width: 100vw;
  height: 100vh;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  background: linear-gradient(-45deg, #524b53, #582026, #524b53, #582026);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;

  color: var(--color);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button {
  background: none;
  color: var(--color);
  border: var(--border) 8px solid;
  margin: 10px;
  padding: 10px;
  border-radius: 100px;
  font-size: 1.2rem;
  font-weight: 600;
}

button:hover {
  background-color: rgb(184, 182, 182, 0.2);
  border: var(--color) 8px solid;
}

/******************************************************/
/*********************** TELA JOGO ***********************/
/******************************************************/

/* adcionado */
div#jogo {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: blockquote;
}

/******************************************************/
/*********************** HEADER AND FOOTER ***********************/
/******************************************************/

header,
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 17vh;
  background-color: var(--color_bg);
}

header {
  z-index: 1;
}
footer {
}

header div.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoBg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  width: 50px;
  height: 50px;
  border: var(--border) 8px solid;
  border-radius: 100px;

  color: var(--color);
  font-weight: 800;
  font-size: 30px;

  animation-name: logoBg;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.logoSpacing {
  background-color: var(--border);
  width: 20px;
  height: 10px;
}

@keyframes logoBg {
  0% {
    background-color: var(--red);
  }
  50% {
    background-color: var(--black);
  }

  100% {
    background-color: var(--red);
  }
}

/******************************************************/
/*********************** MAIN ***********************/
/******************************************************/
/* adcionado */
main {
  width: 45vw;
  height: 100%;
  border-left: 2px solid var(--color_bg);
  border-right: 2px solid var(--color_bg);
}

/*********************** SEÇÃO JOGADOR **********************/

section.container__players {
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container__players fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.containerJogador {
  display: flex;
  align-items: center;
  border: none;
  padding: 5px;
  margin-bottom: 20px;
}

.namesPlayersInput {
  width: 150px;
  height: 30px;
  border: none;
  color: var(--color);
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
  margin-left: 10px;
}

.jogadorBlack {
  background-color: var(--black);
}
.jogadorRed {
  background-color: var(--red);
}

.bolaRed {
  background-color: var(--red);
  border: var(--border) 4px solid;
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

.bolaBlack {
  background-color: var(--black);
  border: var(--border) 4px solid;
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

::placeholder {
  text-align: center;
}

.jogadorRed:-webkit-autofill,
.jogadorRed:-webkit-autofill:hover,
.jogadorRed:-webkit-autofill:focus,
.jogadorRed:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--red) inset;
  -webkit-text-fill-color: var(--color);
}

.jogadorBlack:-webkit-autofill,
.jogadorBlack:-webkit-autofill:hover,
.jogadorBlack:-webkit-autofill:focus,
.jogadorBlack:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--black) inset;
  -webkit-text-fill-color: var(--color);
}

fieldset span {
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 20px;
}

/************************ SEÇÃO TABULEIRO ***********************/

section.container__tableGame {
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
div.tabuleiros {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100%;
}

div.cxDiscos {
  position: relative;
  top: 100px;
  width: 150px;
  height: 110px;
  border: 10px solid var(--border);
  border-top: none;
  background-image: linear-gradient(
    to bottom,
    rgb(98, 90, 103, 0),
    rgba(98, 90, 103, 0.8)
  );
}
.cxLeft {
}
.cxRigth {
}

.tableGame {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  height: 245px;
  border: 10px solid var(--border);
  border-top: none;
  background-image: linear-gradient(
    to bottom,
    rgb(98, 90, 103, 0),
    rgba(98, 90, 103, 0.8)
  );
}

.tableGame > * > * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tableGame > *:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to bottom,
    rgb(98, 90, 103, 0),
    rgb(109, 107, 110)
  );
}

.tableGame__jogador {
  max-width: 300px;
  border: none;
  background-color: var(--red);
  color: var(--color);
  margin: 10px 0 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
}

.tableGame__reset {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: var(--color);
  border: var(--border) 8px solid;
  margin: 10px;
  padding: 10px;
  border-radius: 100px;
  font-size: 1.2rem;
  font-weight: 600;
}

.tableGame__reset:hover {
  background-color: rgb(184, 182, 182, 0.2);
  border: var(--color) 8px solid;
}

.blocoFilho {
  border-right: 1px solid var(--color);
  border-left: 1px solid var(--color);
  width: 40px;
  height: 40px;
  background: none;
}

.red {
  border-radius: 100%;
  border: 2px solid var(--black);
  width: 30px;
  height: 30px;
  background-color: var(--red);
}
.black {
  border-radius: 100%;
  border: 2px solid var(--black);
  width: 30px;
  height: 30px;
  background-color: var(--black);
}

.containerTabuleiro {
  display: flex;
  flex-direction: column;
}

.containerTargerts {
  display: flex;
  justify-content: space-around;
}
.bola {
  width: 33px;
  height: 33px;
  border: 2px solid var(--red);
  border-radius: 100%;
}

.containerTargerts > * {
  width: 40px;
  height: 40px;
}

/*********************** SEÇÃO VITÓRIA **********************/

section.container__vitoria {
  /* display: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

svg {
  filter: drop-shadow(1px 1px 5px var(--border));
  width: 200px;
  height: 200px;
}

g {
  fill: var(--red);
  stroke: var(--border);
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.vencendorDiv {
  -webkit-animation: moeda 4s linear infinite;
  -moz-animation: moeda 4s linear infinite;
  animation: moeda 4s linear infinite;
}
@-moz-keyframes moeda {
  100% {
    -moz-transform: rotateY(360deg);
  }
}
@-webkit-keyframes moeda {
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
@keyframes moeda {
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.vencendorText {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: 100px;
  color: var(--border);
  box-sizing: border-box;
}

span.nomeJogador {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
}

span.textoVencedor {
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
}

div.btn {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.btnVitoria {
  background: none;
  color: var(--color);
  border: var(--border) 4px solid;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 600;
}
