:root {
  --blue: #1039be;
  --green: #086308;
  --color_bg: #625a67;
  --border: #b8b6b6;
  --color: #ffffff;
}

.containerTabuleiro {
  display: flex;
  flex-direction: column;
}

.containerTargerts {
  display: flex;
  justify-content: space-around;
}

.containerTargerts > * {
  width: 40px;
  height: 40px;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url(./assets/img/campo_de_futebol-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  animation: gradient 25s ease infinite;
  color: var(--color);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button {
  background: none;
  width: 200px;
  color: var(--color);
  border: var(--color) 4px solid;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
}

button:hover {
  box-shadow: inset 0 0 1em rgb(255, 255, 255), 0 0 1em rgb(82, 79, 79);
}

/******************************************************/
/*********************** TELA JOGO ***********************/
/******************************************************/

/******************************************************/
/************************ HEADER **********************/
/******************************************************/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
  background-color: rgba(93, 93, 94, 0.438);
}

.logo {
  width: 250px;
}

@keyframes logoBg {
  0% {
    background-color: var(--green);
  }
  50% {
    background-color: var(--blue);
  }

  100% {
    background-color: var(--green);
  }
}

/******************************************************/
/*********************** MAIN ***********************/
/******************************************************/

main {
  display: flex;
  width: 100vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(39, 38, 38, 0.247);
}

/*********************** SEÇÃO JOGADOR **********************/

#container__players {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#jogadorDiv {
  display: flex;
  align-items: center;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: rgba(39, 38, 38, 0.247);
}

#times {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0 40px;
  width: 200px;
}

#times > * {
  cursor: pointer;
  border-radius: 100%;
}

#Alemanha {
  width: 30px;
  height: 30px;
  background-image: url(./img/alemanha.svg);
}
#Argentina {
  width: 30px;
  height: 30px;
  background-image: url(./img/argentina.svg);
}

#Brasil {
  width: 30px;
  height: 30px;
  background-image: url(./img/brasil.svg);
}

#França {
  width: 30px;
  height: 30px;
  background-image: url(./img/franca.svg);
}

#Portugal {
  width: 30px;
  height: 30px;
  background-image: url(./img/portugal.svg);
}

#Reino_Unido {
  width: 30px;
  height: 30px;
  background-image: url(./img/reino_unido.svg);
}

#times > * {
  font-size: 0px;
  width: 50px;
  height: 50px;
  margin: 5px;
}

/************************ SEÇÃO TABULEIRO ***********************/

#container__tableGame {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#tabuleiros {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
}

#cxRight,
#cxLeft {
  display: none;

  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column-reverse;

  width: 105px;
  height: 225px;

  border: 10px solid var(--color);
  border-top: none;
  background-image: linear-gradient(
    to bottom,
    rgb(98, 90, 103, 0),
    rgba(98, 90, 103, 0.8)
  );
}

.containerTabuleiro {
  display: flex;
  flex-direction: column;
  margin: 50px 20px 0 20px;
}

.containerTargerts {
  display: flex;
  justify-content: space-around;
  margin: 0 4px 0 16px;
}

.bola {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  box-shadow: 0px 0px 31px 7px rgba(255, 255, 255, 0.85);
}

.containerTargerts > * {
  width: 40px;
  height: 40px;
}

.tableGame {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  height: 245px;
  border: 10px solid var(--color);
  border-top: none;
  background-image: linear-gradient(
    to bottom,
    rgb(98, 90, 103, 0),
    rgba(98, 90, 103, 0.8)
  );
}

.tableGame > * > * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tableGame > *:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to bottom,
    rgb(98, 90, 103, 0),
    rgb(109, 107, 110)
  );
}

.tableGame__jogador {
  max-width: 300px;
  border: none;
  background-color: rgba(93, 93, 94, 0.8);
  color: var(--color);
  margin: 10px 0 20px;
  padding: 10px;
  border-radius: 8px;
  font-size: 1.2rem;
  text-align: center;
}

.blocoFilho {
  border-right: 1px solid var(--color);
  border-left: 1px solid var(--color);
  width: 40px;
  height: 40px;
  background: none;
}

/* movimentando item */
.movendo:hover {
  opacity: 0.8;
}

.containerTargerts > * {
  width: 40px;
  height: 40px;
}

/*********************** SEÇÃO VITÓRIA **********************/

#container__vitoria {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.vencendorDiv {
  display: flex;
  justify-content: center;
  -webkit-animation: giro 4s linear infinite;
  -moz-animation: giro 4s linear infinite;
  animation: giro 4s linear infinite;
}

.vencendorDiv img {
  width: 100px;
  margin: 20px;
}

g {
  fill: var(--green);
  stroke: var(--border);
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@-moz-keyframes giro {
  100% {
    -moz-transform: rotateY(360deg);
  }
}
@-webkit-keyframes giro {
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
@keyframes giro {
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.vencendorText {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100px;
  color: var(--color);
  box-sizing: border-box;
}

span.nomeJogador {
  font-size: 3.5rem;
  text-align: center;
  margin: 10px;
}

span.textoVencedor {
  font-size: 0.8rem;
  text-align: center;
}

/******************************************************/
/*********************** FOOTER ***********************/
/******************************************************/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  background-color: rgba(93, 93, 94, 0.438);
}

h3 {
  font-size: 0.8rem;
  text-align: center;
  padding: 20px 50px;
}

/*********************** MEDIA QUERIES **********************/
@media (max-height: 600px) {
  #container__vitoria {
    transform: scale(0.8);
  }
  h3 {
    font-size: 0.5rem;
    line-height: 0.8rem;
  }
}

@media screen and (min-width: 768px) {
  /*********************** HEADER **********************/
  .logo {
    width: 350px;
  }

  /*********************** SEÇÃO JOGADOR **********************/

  .namesPlayersInput {
    width: 250px;
    margin-left: 20px;
  }

  /************************ SEÇÃO TABULEIRO ***********************/

  #cxLeft,
  #cxRight {
    display: flex;
  }

  /*********************** SEÇÃO VITÓRIA **********************/

  .vencendorDiv img {
    width: 100px;
    margin: 40px;
  }

  span.nomeJogador {
    font-size: 4.5rem;
  }

  span.textoVencedor {
    font-size: 1.2rem;
    margin-bottom: 50px;
  }

  .jogarNovamente {
    margin: 50px 0 20px;
  }
}
